// main {
//     background-image: linear-gradient(to top right, #e65c9c, #6b0772);
//     height: 100vh;
//     margin: 0rem 3rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
  @media (min-width: 768px) and (max-width: 1000px)
  {
.lname
  {
      margin-left: 2rem;
  }
}
body{
  background: rgb(128,127,156);
background: linear-gradient(210deg, rgba(128,127,156,0.6362920168067228) 0%, rgba(215,218,235,0.896796218487395) 5%, rgba(178,192,208,1) 77%, rgba(0,212,255,1) 100%);
}